<?php

# Specify your broker ID. This will be given to you once when you
# are registered with the SSO service. 
define('BROKER_ID', '');


# Specify the hostname or the IP of this site.
define('SITE_HOSTNAME', '');


# Specify the hostname or IP of the SSO service.
define('SSO_SITE_HOSTNAME', '');


# The broker_key is a public key that will be given to you once when 
# you are registered with the SSO service and is passed to the sso 
# service when directing a user to login. 
define('BROKER_PUBLIC_KEY', '');


# The broker secret is a private key that will be given to you once when you
# are registered with the SSO service. This is used to check signatures
# sent in requests to your site to ensure the request came unmodified
# from the SSO service. This should be kept secret and never distributed.
define('BROKER_SECRET', '');


class Settings 
{
    # This requires PHP 5.6+
    # When we move over to PHP 7, we will be able to put this array in a define and
    # remove the Settings class.
    const EXPECTED_SSO_PARAMS = array(
        'user_id',
        'user_name',
        'user_email',
        'signature'
    );
}